<h2>Eigenschaften</h2>
<dl class="properties-list">
  <dt>Code</dt>
  <dd>{{ project.code }}</dd>
  <dt>Name</dt>
  <dd>{{ project.name }}</dd>
  <dt>Status</dt>
  <dd>{{ project.get_status_display }}</dd>
  <dt>Datum</dt>
  <dd>{{ project.project_date|date:"d.m.Y" }}</dd>
  <dt>Archiviert</dt>
  <dd>{% if project.is_archived %}Ja{% else %}Nein{% endif %}</dd>
  <dt>Erstellt</dt>
  <dd>{{ project.created_at|date:"d.m.Y H:i" }}</dd>
  <dt>Geändert</dt>
  <dd>{{ project.updated_at|date:"d.m.Y H:i" }}</dd>
  {% if project.description %}
    <dt>Beschreibung</dt>
    <dd>{{ project.description }}</dd>
  {% endif %}
</dl>
{% if can_edit_project %}
  <p><a href="{% url 'plm:edit_project' project.id %}">Eigenschaften bearbeiten</a></p>
{% endif %}
